swagger: "2.0"

info:
  description: "This API allows users to view information on textbooks associated with course sections."
  version: "1.0"
  title: "Textbooks API"

tags:
- name: "textbooks"
  description: "Contains information on textbooks"

schemes:
- "https"

host: "api.oregonstate.edu"

basePath: "/v1"

externalDocs:
  description: "GitHub Repository"
  url: "https://github.com/osu-mist/textbooks-api"

produces:
  - "application/json"

paths:

  /textbooks:
    get:
      tags:
      - "textbooks"
      summary: "Retrieve textbooks by parameters"
      operationId: "getTextbooks"
      parameters:

        - name: "term"
          in: "query"
          description: "Name of term in which to find textbooks"
          type: "string"
          required: true

        - name: "subject"
          in: "query"
          description: "Name of course subject in which to find textbooks"
          type: "string"
          required: true

        - name: "courseNumber"
          in: "query"
          description: "Number of course in which to find textbooks"
          type: "string"
          required: true

        - name: "section"
          in: "query"
          description: "Name of section in which to find textbooks"
          type: "string"
          required: false

        - name: "isRequired"
          in: "query"
          description: "If true, only retrieves required textbooks. If false, only retrieves non-required textbooks."
          type: "boolean"
          required: false

      responses:
        200:
          description: "Textbooks successfully retrieved"
          schema:
            $ref: "#/definitions/TextbookResultArray"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal server error"
          schema:
            $ref: "#/definitions/Error"

definitions:

  Textbook:
    type: "object"
    properties:
      isRequired:
        type: "boolean"
        description: "Indicates whether textbook is required or not"
        example: true
      coverImageUrl:
        type: "string"
        description: "URL of cover image"
        example: "coverimages.verbacompete.com/no_image.jpg"
      title:
        type: "string"
        description: "Title of textbook"
        example: "Probability & Stat For Engr & Sci"
      author:
        type: "string"
        description: "Author of textbook"
        example: "Devore"
      edition:
        type: "integer"
        description: "Textbook edition"
        example: 9
      copyright_year:
        type: "integer"
        description: "Textbook copyright year"
        example: 2016
      priceNewUSD:
        type: "number"
        format: "float"
        description: "Price to buy new textbook at Beaver Store"
        example: 49.00
      priceUsedUSD:
        type: "number"
        format: "float"
        description: "Price to buy used textbook at Beaver Store"
        example: 36.75

  TextbookResource:
    type: "object"
    properties:
        id:
          type: "string"
          description: "ISBN of textbook"
          example: "9780998819112"
        type:
          type: "string"
          default: "textbook"
        attributes:
          $ref: "#/definitions/Textbook"
        links:
          type: "object"
          default: null

  TextbookResultArray:
    type: "object"
    properties:
      links:
        type: "object"
        default: null
      data:
        type: "array"
        items:
          $ref: "#/definitions/TextbookResource"

  Error:
    type: "object"
    properties:
      status:
        type: "integer"
        description: "HTTP status code"
        example: 123
      code:
        type: "integer"
        description: "Specific error code"
        example: 1234
      detail:
        type: "string"
        description: "Link to further information on error code"
        example: "https://developer.oregonstate.edu/documentation/error-reference#1234"